<nav class="navbar navbar-expand-lg navbar-light" style="background-color: white;">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">[Name]'s Dashboard</span>
        <div class="d-flex">
            <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Create New
            </button>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search links" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New Link</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="/links/add" method="POST">
                <div id="generate_link" class="mb-3 flex">
                  <input name="target_url" type="text" class="form-control me-1" placeholder="Enter link to shorten">
                  <button type="submit" class="btn btn-primary ms-1">Generate</button>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>