<div class="container mx-auto">
<h1>Sign Up</h1>
${failure}
<form action="/users/signup" method="POST">
    <div class="mb-10">
        <label for="first_name" class="form-label required">First Name</label>
        <input name="first_name" type="text" class="form-control" id="first_name" required>
    </div>
    <div class="mb-10">
        <label for="last_name" class="form-label required">Last Name</label>
        <input name="last_name" type="text" class="form-control" id="last_name" required>
    </div>
    <div class="mb-10">
      <label for="email" class="form-label required">Email Address</label>
      <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" required>
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-10">
      <label for="password" class="form-label required">Password</label>
      <input name="password" type="password" class="form-control" id="password" required>
    </div>
    <div class="mb-10">
      <label for="password_confirm" class="form-label required">Confirm Password</label>
      <input name="password_confirm" type="password" class="form-control" id="password_confirm" required>
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
    <a href="/users/login">Already have an account? Login instead</a>
</form>
</div>