<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${title}</title>
    <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="icon" href="/images/favicon.ico"/>
  </head>
<<body data-set-preferred-mode-onload="true">
  ${modals}
    <div class="page-wrapper with-navbar">
    <nav class="navbar justify-content-between">
        <div class="navbar-content">
            <a class="navbar-brand" href="/"><img src="/images/linkify1.png" style="height: 40px;"></a>
        </div>

        <div class="navbar-content ml-auto"> <!-- d-md-none = display: none on medium screens and up (width > 768px), ml-auto = margin-left: auto -->
            ${!!is_logged_in ? 
              `<div class="dropdown with-arrow">
                  <a type="button" class="rounded-circle" data-toggle="dropdown" id="navbar-dropdown-toogle-btn-1" data-bs-display="static" aria-expanded="false">
                  <img width=40 src="/images/avatars/avatar${avatar}.png" style="border-radius: 50%;">
                  </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">
                    <a class="dropdown-item" href="/links/dashboard">Dashboard</a>
                    <a class="dropdown-item" href="/users/profile">Profile</a>
                    <a class="dropdown-item" href="/users/logout">Logout</a>
                  </div>
              </div>`
          :
            ` 
              <a class="nav-link" href="/users/login">Login</a>
              <a class="nav-link" href="/users/signup">Signup</a>
              `
          } 
          </div>
      </nav>
    <div class="content-wrapper mb-5">
        ${body}
        <div class="posthead" style="min-height: 50px;"></div>
      </div>
      <nav class="navbar navbar-fixed-bottom">
        <button class="btn" type="button" onclick="toggleDemo()">Toggle Darkmode</button>
      </nav>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
    <script type="text/javascript">
      // Dark mode toggle demo
      function toggleDemo() {
        halfmoon.toggleDarkMode();
      }
    </script>
    <script type="text/javascript">
      // Make sure that the cookie exists
      if (halfmoon.readCookie("halfmoon_preferredMode")) {
        if (halfmoon.readCookie("halfmoon_preferredMode") == "light-mode") {
          // Light mode is preferred
        }
        else if (halfmoon.readCookie("halfmoon_preferredMode") == "dark-mode") {
          // Dark mode is preferred
        }
      }
    </script>
  </body>
</html>