.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

canvas {
    max-height: 350px;
}

@media screen and (max-width: 768px) {
    .reverse {
        flex-direction: column-reverse;
    }

    .m-5 {
        margin: 0 !important;
        padding-top: 16px;
    }
}

@media screen and (max-width: 425px) {
    #generate_link {
        flex-direction: column;
    }

    #generate_link input {
        margin-right: 0 !important;
    }

    #generate_link button {
        width: 100%;
        margin-left: 0 !important;
        margin-top: 4px;
    }
}

.avatar1{background-image:url('/images/avatars/avatar1.png');}
.avatar2{background-image:url('/images/avatars/avatar2.png');}
.avatar3{background-image:url('/images/avatars/avatar3.png');}
.avatar4{background-image:url('/images/avatars/avatar4.png');}
.avatar5{background-image:url('/images/avatars/avatar5.png');}
.avatar6{background-image:url('/images/avatars/avatar6.png');}
.avatar7{background-image:url('/images/avatars/avatar7.png');}
.avatar8{background-image:url('/images/avatars/avatar8.png');}
.avatar9{background-image:url('/images/avatars/avatar9.png');}

.avatarClass{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    border: 6px hidden;
    display:inline-block;
    height: 13.66vw; 
    width: 13.66vw;     
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(.2) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(.2) opacity(.7);
            filter: brightness(1.8) grayscale(.2) opacity(.7);
}

.avatarClass:hover {
    opacity: 0.9;
}

.avatarClass:active,
.avatarClass:focus {
    border: 4px solid black;
}

.avatar-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.avatar-selector input:active +.avatarClass{opacity: .9;}
.avatar-selector input:checked +.avatarClass{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.page-wrapper > .navbar {
    display: flex;
}
